#root{
    height:100vh;
    box-sizing: border-box;
    padding-top:0;
    overflow:hidden;
}
.main_container{
    padding-top:80px;
}
.list_container{
    padding-bottom:100px;
}
.breakline{
    background-color:rgba(grey,0.6);
    border:none;
    padding-top:1px;
}
img{
    object-fit: contain;
}
.list_column{
    width:100%;
}